{% load staticfiles %}
<div class="wrapper wrapper-content dashboard">
  <div class="container">
      <div class="row quick-button">
          <div class="col-md-12">
            <div class="col-md-4">
                <div class="col-sm-2" style="margin-left: 0px;">
                    <a href="/radiologi/kasir">
                    <div class="thumbnail ">
                      <center>
                          <img src="{% static 'img/add.png' %}" alt="..." class="hight70">
                          <div class="caption">
                            <p>Add</p>
                          </div>
                      </center>
                    </div>
                    </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Edit</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Delete</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Antrian</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Kasir</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Disc.%</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-sm-2">
                    <a href="/farmasi/jenis-obat">
                    <div class="thumbnail ">
                      <center>
                          <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                          <div class="caption">
                            <p>Tarif MNL</p>
                          </div>
                      </center>
                    </div>
                    </a>
                </div>
        
                <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Farmasi</p>
                        </div>
                    </center>
                  </div>
                  </a>
                </div>
            
            </div>
          </div>
      </div>
    </div>
  </div>