<nav class="navbar navbar-static-top" role="navigation">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a href="http://{{ request.get_host }}/" class="navbar-brand" href="#">SImDealerRS</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            
           
                <li class="dropdown" style="margin-left: 10px;">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="">Penggabungan No Rekam Medik</a></li>
                    <li><a href="">Edit</a></li>
                    <li><a href="">Delete</a></li>
                    <li><a href="">Penggantian No. Rekam Medik Baru</a></li>                    
                  </ul>
                </li>
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><a href="#">Save</a></li>
                        <li><a href="#">Cancel</a></li>

                    </ul>
                </li>
    
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Show <span class="caret"></span></a>
                      <ul class="dropdown-menu ">
                          <li><a href="/entry_resep_radiologi">Search Data</a></li>                          
                      </ul>
                </li>

                
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modul <span class="caret"></span></a>
                      <ul class="dropdown-menu ">
                          <li><a href="/mutasi_masuk">About</a></li>                          
                      </ul>
                </li>
                
                <li><a href="#">Print Data</a></li>
                <li><a href="#">Exit</a></li>
                
                
          </ul>
          
          
        </div><!-- /.navbar-collapse -->
    </nav>
