<div class="col-md-12" style="background-color:#3E3E5F;border-radius: 5px;padding-bottom:5px;padding-top:10px;">
    <div class="form-group col-md-6">

        <label class="col-md-4 control-label" style="color:white;">No Rekam Medik </label>
        <div class="col-md-8" >                                                    
            <input id="" name="" type="text" class="form-control input-sm ">
        </div>            
            
    </div>

    <div class="form-group col-md-6">
                        
        <label class="col-md-2 control-label" style="color:white;">Nama </label>
        <div class="col-md-10" >                                                    
            <input id="" name="" type="text" class="form-control input-sm ">
        </div>            
            
    </div>
    
</div>