{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}
DIVISI
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/plugins/css-toggle-switch/toggle-switch.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/iCheck/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/dxtreeview.css' %}">
<style>
    body {
        /* background-color: deepskyblue; */
        background-image: url("/static/img/rajal.png") !important;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-right: 0 !important
    }

    
</style>
{% endblock %}

{% block content %}
  <div class='row'>
    <div class='col-md-12'>
        <div class='custom-card'>
            <div class='custom-card-title rounded-top'>
                <h3>MASTER divisi</h3>
            </div>
            <div class='custom-card-content bg-white rounded-bottom'>
                <div class="row " style="padding-top:5px;">
                    <div class='col-md-12 px-1 form-group'>
                        <div class='row'>
                            <label class="col-md-2 control-label">
                                kode divisi
                            </label>
                            <div class='col-md-6'>
                                <input type='text' class='form-control' id="kode_divisi" name="kode_divisi">
                            </div>
                        </div>
                        
                    </div> 
                    <div class='col-md-12 px-1 form-group'>
                        <div class='row'>
                            <label class="col-md-2 control-label">
                                nama divisi
                            </label>
                            <div class='col-md-6'>
                                <input type='text' class='form-control' id="nama_divisi" name="nama_divisi">
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12 px-1 form-group'>
                        <div class='row'>
                            <label class="col-md-2 control-label">
                                kode divisi
                            </label>
                            <div class='col-md-6'>
                                <select class="form-control" id="status_divisi" name="status_divisi">
                                    <option value='1'>aktif</option>
                                    <option value='0'>tidak aktif</option>
        
                                </select>
                            </div>
                            {% comment %} <div class="col-md-1">
                                <input type="radio" name="status" id="status_1"> aktif
                            </div>
                            <div class="col-md-1">
                                <input type="radio" name="status" id="status_2"> tidak aktif
                            </div> {% endcomment %}
                        </div>
                        
                    </div>
                    <div class='col-md-12 px-1 form-group'>
                        <div id="datagrid"></div>
                    </div>
                    <input type='hidden' id="status_aud">
                </div>
            </div>

        </div>
    </div>
  </div>
    
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        
        {% include 'divisi/js/init.html' %}
        {% include 'divisi/js/shift.html' %}
    </script>
{% endblock %}