<!-- <div class="col-md-3">    
    
    <a id="" class="btn btn-danger btn-lg">
        Delete
    </a>

</div> -->
<div class="col-md-6">    

    <div class="col-md-12">
        <label class="control-label col-md-3">Nomer Transaksi</label>
        <div class="col-md-3">
            <div class="col-md-12">
                <input id="no_transaksi" name="no_transaksi" type="text" class="form-control input-sm">
            </div>
        </div>
        <label class="control-label col-md-3">Nomer Register</label>
        <div class="col-md-3">
            <div class="col-md-12">
                <input id="no_register" name="no_register" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-3">Pasien</label>
        <div class="col-md-9">
            <div class="col-md-3">
                <input id="pasien_col1" name="pasien_col1" type="text" class="form-control input-sm">
            </div>
            <div class="col-md-9">
                <input id="pasien_col2" name="pasien_col2" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-3">Alamat</label>
        <div class="col-md-9">
            <div class="col-md-12">
                <input id="alamat" name="alamat" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-3">Dokter Radiologi</label>
        <div class="col-md-9">
            <div class="col-md-3">
                <input id="dokter_radiologi_col1" name="dokter_radiologi_col1" type="text" class="form-control input-sm">
            </div>
            <div class="col-md-9">
                <input id="dokter_radiologi_col2" name="dokter_radiologi_col2" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    
</div>

<div class="col-md-6">

    <div class="col-md-12">
        <label class="control-label col-md-3">Tanggal </label>
        <div class="col-md-3">            
            <input id="tanggal" name="tanggal" type="date" class="form-control input-sm">                        
        </div>
        <label class="control-label col-md-2">No Foto</label>
        <div class="col-md-4">            
            <input id="no_foto" name="no_foto" type="time" class="form-control input-sm">                        
        </div>
    </div>
    
    <div class="col-md-12">
        <label class="control-label col-md-3">Klp Pasien</label>
        <div class="col-md-3">
            <input id="kelompok_pasien_col1" name="kelompok_pasien_col1" type="text" class="form-control input-sm">
        </div>
        <div class="col-md-6">
            <input id="kelompok_pasien_col2" name="kelompok_pasien_col2" type="text" class="form-control input-sm">
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-3">&nbsp;</label>
        <div class="col-md-3">
            <input id="" name="" type="text" class="form-control input-sm">
        </div>
        <div class="col-md-6">
            <input id="" name="" type="text" class="form-control input-sm">
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-3">Dokter Pengirim</label>
        <div class="col-md-3">
            <input id="dokter_pengirim_col1" name="dokter_pengirim_col1" type="text" class="form-control input-sm">
        </div>
        <div class="col-md-6">
            <input id="dokter_pengirim_col2" name="dokter_pengirim_col2" type="text" class="form-control input-sm">
        </div>
    </div>
</div>