
<div class="ibox float-e-margins">
    <div class="ibox-title">        
        <!-- <center><h3>Rawat Inap</h3></center> -->
        <div class="col-md-3">
                <div class="col-md-1">
                        <input id="" name="pasien-type" type="radio">  
                </div>
                <label class="control-label col-md-5">Datang Sendiri</label>

                <div class="col-md-1">
                        <input id="" name="pasien-type" type="radio">  
                </div>
                <label class="control-label col-md-5">Rujukan</label>
        </div>
    </div>
    <div>
        <div class="col-md-6" style="margin-top:10px !important;">    
            <div class="col-md-12">
                <label class="control-label col-md-3">Dari</label>
                <div class="col-md-9">
                    <div class="col-md-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    <div class="col-md-9">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        
            <div class="col-md-12">
                <label class="control-label col-md-3">Nama</label>
                <div class="col-md-9">
                    <div class="col-md-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    <div class="col-md-9">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-6" style="margin-top:10px !important;">
        
            <div class="col-md-12">
                <label class="control-label col-md-2">Alamat</label>
                <div class="col-md-10">            
                    <div class="col-md-7">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    <label class="control-label col-md-2">Cara Masuk</label>
                    <div class="col-md-3">
                        <select id="" class="col-md-12">
                                <option value="">Langsung</option>
                                <option value="">Rawat Jalan</option>
                                <option value="">Rawat Inap</option>
                                <option value="">Rawat Darurat</option>
                            </select>
                    </div>                        
                </div>
            </div>
            
            <div class="col-md-12">
                <label class="control-label col-md-2">Kota</label>
                <div class="col-md-10">
                    <div class="col-md-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    <div class="col-md-9">
                            <div class="col-md-5">
                                <div class="col-md-1">
                                        <input style="width:10px !important; margin-top: 1px !important;" id="" name="" type="checkbox" class="form-control input-sm">
                                </div>
                                <label class="control-label col-md-10" style="margin-left: 5px !important;">Pasien Titipan</label>
                            </div>

                            <div class="col-md-7">
                                <div class="col-md-1">
                                        <input style="width:10px !important; margin-top: 1px !important;" id="" name="" type="checkbox" class="form-control input-sm">
                                </div>
                                <label class="control-label col-md-10" style="margin-left: 5px !important;">Transaksi Sudah Ditutup</label>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2" style="width:12.6% !important;">
                <label class="control-label col-md-12">Keterangan</label>
            </div>
            <div class="col-md-10" style="width:87.002% !important;">
                <div class="col-md-11">
                    <input id="" name="" type="text" class="form-control input-sm">
                </div>
                <div class="col-md-1">
                    <a id="" class="btn btn-success btn-xs" onclick="gridFindPerusahaan(event)">
                        Simpan                    
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
