<div class="ibox float-e-margins">
    <div class="ibox-title">        
        <center><h3>Rawat Inap</h3></center>
    </div>
    <div class="ibox-content">
        <table>
            <thead>

            </thead>
            <tbody style="border:1px; border-color: black;">
                <tr>
                    <td>wkwk </td>
                    <td>wkwk </td>
                    <td>wkwk </td>
                    <td>wkwk </td>
                    <td>wkwk </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>