{% extends "layout/base.html" %}

{% block title %}
    Data Pasien
{% endblock title %}

{% block navbar %}
    {% include 'privilege/menus/layout/navbar.html' %}
{% endblock %}



{% block content %}</div</div>
    <div class="wrapper wrapper-content entry animated fadeInRight">
        <div class="row" >
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="ibox" id="ibox">
                    <div class="ibox-title" style="background-color:white;">
                        <h3 style="color:#676a6c;">Menu Management</h3>
                    </div>                        
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-double-bounce">
                            <div class="sk-double-bounce1"></div>
                            <div class="sk-double-bounce2"></div>
                        </div>
                        <div class="row">
                            <form id="form" action="#" >
                                    <div class="col-md-2">
                                        <p>
                                            User Privilige
                                        </p>
                                        <select class="select2_demo_1 form-control" name="select_user_priv">
                                            {% for user_priv in user_privs %}
                                                {% if user_priv.USER_PRIV == privilege %}
                                                <option selected value="{{ user_priv.USER_PRIV }}">{{ user_priv.USER_PRIV }}</option>
                                                {% else %}
                                                <option value="{{ user_priv.USER_PRIV }}">{{ user_priv.USER_PRIV }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-8">
                                        <p style="margin-left:-1%;">
                                            Rules of users
                                        </p>
                                        <!-- menu, idjs, link, funcname, rules -->
                                        <form id="form" action="#" class="wizard-big">
                                            <select id="priv" class="form-control dual_select" multiple>
                                                {% for unselected in unselecteds %}
                                                    <option value="{{ unselected.id }}">{{ unselected.name }}</option>
                                                {% endfor %}
                                                {% for selected in selecteds %}
                                                    <option selected value="{{ selected.id }}">{{ selected.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                        <br/>
                                        <br/>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10"></div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-primary "><i class="fa fa-check"></i> Submit</button>
                                    </div>
                                    <div class="col-md-1"></div>
                            </form>

                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    {% include 'layout/dxGridModal.html' %}
{% endblock content %}


{% block script %}
    {% load static %}
    <script src="{% static '/js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
    <script src="{% static '/js/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static '/js/inspinia.js'%}"></script>
    <script src="{% static '/js/plugins/pace/pace.min.js'%}"></script>

    <!-- Steps -->
    <script src="{% static '/js/plugins/steps/jquery.steps.min.js'%}"></script>
    <script src="{% static 'js/process/gridProcess.js'%}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("select.select2_demo_1").change(function(){
                var user_priv = $(this).children("option:selected").val();
                $.ajax(
                {
                    type: "GET",
                    url: "/privilege/menu_priv",
                    data: {'menu_user': user_priv},
                    // dataType: "html",
                    success: function (data)
                    {
                        console.log("unselected: "+data['unselecteds'].length+" selected: "+data['selecteds'].length)
                        $(".dual_select").empty()                        
                        for (let index = 0; index < data['selecteds'].length; index++) {
                            const selected = data['selecteds'][index];
                            $(".dual_select").append('<option value="'+selected['id']+'" selected="selected" >'+selected['name']+'<option>');
                            $('option[value=""],option:not([value])').remove();
                        }

                        for (let index = 0; index < data['unselecteds'].length; index++) {
                            const unselected = data['unselecteds'][index];
                            $(".dual_select").append('<option value="'+unselected['id']+'">'+unselected['name']+'<option>');
                            $('option[value=""],option:not([value])').remove();
                        }

                        $(".dual_select").bootstrapDualListbox('refresh', true);
                    },
                    error: function(request, ajaxOptions, thrownError)
                    {
                        $("#debug").html(request.responseText);
                        $("#debug").html("5566");
                    }
                });
            });
        });
        $(document).ready(function(){
            $(".btn-primary").click(function(){
                let items = $(".dual_select option:selected");
                var param = [];
                $.each(items, function(index, elem){
                    param.push(elem.value)
                });
                // console.log(param);
                $('#ibox').children('.ibox-content').toggleClass('sk-loading');
                $.ajax(
                {
                    type: "POST",
                    url: "/privilege/menu_post",
                    data:   {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'priv': $("select.select2_demo_1").children("option:selected").val(),
                                'rules': param,
                            },
                    // dataType: "html",
                    success: function (response)
                    {
                        console.log(response)
                        $('#ibox').children('.ibox-content').toggleClass('sk-loading');
                    },
                    error: function(request, ajaxOptions, thrownError)
                    {
                        $("#debug").html(request.responseText);
                        $("#debug").html("5566");
                    }
                });
            });
        });
        
        
        $(".select2_demo_1").select2();
        $(".select2_demo_2").select2();
        $(".select2_demo_3").select2({
            placeholder: "Select a state",
            allowClear: true
        });
    
        $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 160
        });

    </script>
{% endblock  %}