<!-- <div class="ibox float-e-margins">
    <div class="ibox-title">        
        <center><h3>Rawat Inap</h3></center>
    </div>
    <div class="ibox-content">
        <h1 class="no-margins">Isi Tabel </h1>
        
    </div>
</div> -->