<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabIN-1"> Siami/Istri</a></li>
        <li class=""><a data-toggle="tab" href="#tabIN-2">Ayah</a></li>
        <li class=""><a data-toggle="tab" href="#tabIN-3">Ibu</a></li>
        <li class=""><a data-toggle="tab" href="#tabIN-4">Keluarga Dekat</a></li>
    </ul>
    <div class="tab-content">

        <div id="tabIN-1" class="tab-pane active">
            <div class="panel-body" style="background:#f0f0f0">
                <div class="col-sm-12">            
                    <label class="control-label right"> Status = Meninggal </label>
                    <input type="checkbox" name="" value="">
                </div>
            
                <div class="col-sm-12">
                    <label class="control-label col-sm-1 right">Nama</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    

                    <label class="control-label col-sm-1 right" style="text-align:right">Kota</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Telp</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
                
                {% comment %} Level2 {% endcomment %}
                <div class="col-sm-12">
                <label class="control-label col-sm-1 right">Alamat</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pendidikan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pekerjaan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>

            </div>
        </div>
        <div id="tabIN-2" class="tab-pane">
            <div class="panel-body" style="background:#f0f0f0">
                <div class="col-sm-12">            
                    <label class="control-label right"> Status = Meninggal </label>
                    <input type="checkbox" name="" value="">
                </div>

                <div class="col-sm-12">
                    <label class="control-label col-sm-1 right">Nama</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    

                    <label class="control-label col-sm-1 right" style="text-align:right">Kota</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Telp</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
                
                {% comment %} Level2 {% endcomment %}
                <div class="col-sm-12">
                <label class="control-label col-sm-1 right">Alamat</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pendidikan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pekerjaan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        </div>
        <div id="tabIN-3" class="tab-pane">
            <div class="panel-body" style="background:#f0f0f0">
                <div class="col-sm-12">            
                    <label class="control-label right"> Status = Meninggal </label>
                    <input type="checkbox" name="" value="">
                </div>

                <div class="col-sm-12">
                    <label class="control-label col-sm-1 right">Nama</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                    

                    <label class="control-label col-sm-1 right" style="text-align:right">Kota</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Telp</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
                
                {% comment %} Level2 {% endcomment %}
                <div class="col-sm-12">
                <label class="control-label col-sm-1 right">Alamat</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pendidikan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pekerjaan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        </div>
        <div id="tabIN-4" class="tab-pane">
            <div class="panel-body" style="background:#f0f0f0">
            
                <div class="col-sm-12">            
                    <div class="col-sm-2">
                        <label class="control-label right"> Status = Meninggal </label>
                        <input type="checkbox" name="" value="">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label col-sm-4 right"> Hubungan Keluarga </label>
                        <div class="col-sm-8">
                            <input id="" name="" type="text" class="form-control input-sm yellow">
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                
                    <label class="control-label col-sm-1 right">Nama</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right" style="text-align:right">Kota</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Telp</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
                
                {% comment %} Level2 {% endcomment %}
                <div class="col-sm-12">
                <label class="control-label col-sm-1 right">Alamat</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pendidikan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>

                    <label class="control-label col-sm-1 right">Pekerjaan</label>
                    <div class="col-sm-3">
                        <input id="" name="" type="text" class="form-control input-sm">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>