<div class="col-md-6">    

    <div class="col-md-12">
        <label class="control-label col-md-4">Nomer DOI BHP</label>
        <div class="col-md-8">
            <div class="col-md-12">
                <input id="" name="" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <label class="control-label col-md-4">Gudang</label>
        <div class="col-md-8">
            <div class="col-md-2">
                <input id="" name="" type="text" class="form-control input-sm">
            </div>
            <div class="col-md-8">
                <input id="" name="" type="text" class="form-control input-sm">
            </div>
            <div class="col-md-2">
                <a id="" class="btn btn-success btn-xs">
                    Cari                    
                </a>
            </div>
        </div>
        

    </div>
    
</div>

<div class="col-md-6">

    <div class="col-md-7">
        <label class="control-label col-md-4">Tanggal DOI</label>
        <div class="col-md-5">            
            <input id="" name="" type="date" class="form-control input-sm">                        
        </div>
    </div>
<!-- 
    <div class="col-md-5">
        <label class="control-label col-md-3">Jam</label>
        <div class="col-md-9">            
            <input id="" name="" type="time" class="form-control input-sm">                        
        </div>
    </div>
    
    <div class="col-md-12">
        <label class="control-label col-md-3">No. Penyakit</label>
        <div class="col-md-9">

            <div class="col-md-4">
                <input id="" name="" type="text" class="form-control input-sm">
            </div>
            <div class="col-md-8">
                <input id="" name="" type="text" class="form-control input-sm">
            </div>
            
        </div>
    </div> -->
</div>
<div class="col-md-12">
    <label class="control-label col-md-2">Keterangan</label>
    <div class="col-md-10">
        <div class="col-md-12">
            <input id="" name="" type="text" class="form-control input-sm">
        </div>
    </div>
</div>
