<div class="modal fade" id="DxGridModal" tabindex="-1" role="dialog" aria-labelledby="myModal" style="z-index: 15;">

  <div class="modal-dialog" role="document">
  <div class="modal-content">
  
    <div class="modal-header">
    <a type="button" class="close" data-toggle='modal' aria-label="Close" href="#DxGridModal">
      <span aria-hidden="true">&times;</span></a>
    <h4 class="modal-title" id="DxGridLabel"></h4>
    </div>
    
    <div class="modal-body">
      <div class="card" style="overflow-x: visible;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div id="DxGridData">
            </div>  
          </div>
        </div>
          
      </div>
      </div>
    
    </div>
    <div class="modal-footer">
    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
    <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
    </div>
  </div>
  </div>
</div>